// $lightGreen: #7ed56f;
// $mediumGreen: #55c57a;
// $darkGreen: #28b485;

$colorPrimary: #55c57a;
$colorPrimaryLight: #7ed56f;
$colorPrimaryDark: #28b485;

$colorSecondaryLight: #ffb900;
$colorSecondaryDark: #ff7730;

$colorTertiaryLight: #2998ff;
$colorTertiaryDark: #5643fa;

$colorGreyDark: #777;
$colorWhite: #fff;
$colorBlack: #000;

//font
$defaultFontSize: 1.6rem;

//Grid
$gridWidth: 114rem;
$gutterVertical: 8rem;
$gutterHorizontal: 6rem;
